.about-us-container {
    padding: 50px;
  }
  
  .hero-section {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .about-us-title {
    /* Add your styles for the about us title */
  }
  
  .hero-subtitle {
    font-size: 42px;
    font-weight: 650;
    color:var(--secondary-color)
  }
  
  .hero-content {
    flex: 0 0 50%;
  }
  
  .hero-image {
    flex: 0 0 50%;
    padding: 20px;
    max-width: 100%;
    height: auto;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .hero-subtitle {
      font-size: 30px;
    }
  
    .hero-section {
      flex-wrap: wrap;
    }
  
    .hero-content,
    .hero-image {
      flex-basis: 100%;
    }
  }
  
  .hero-image img {
    max-height: 400px;
    max-width: 100%;
    width: auto;
    margin-top: 50px;
  }
.mission-vision-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}
  .mission-card{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    width: 350px;
    border: 2px solid rgba(255, 166, 0, 0.329);
  }
  .mision-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .mision-icon {
    width: 50%;
    margin-bottom: 10px;
  }
  .mision-icon img{
    width: 100%;
  }
  .mision-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .mision-statement {
    font-size: 14px;
    text-align: justify;
  }
.team-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.team-members{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding-top:50px;
}

.team-member{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    gap:10px;
}

.team-member-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* Additional styles for the image */
    border: 2px solid #fff;
    object-fit: cover;
  }
.team-member-name{
    font-size: 20px;
}
.team-member-role{
    color: gray;
}