
@media print {
    .printable-area {
        position: relative;
    }

    .printable-area .watermark {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #8f1b28;
        font-size: 3rem !important;
        z-index: 100;
    }

    .watermark img {
        filter: opacity(25%);
    }
}